
.tarjetas{
    position: absolute;
    top: 15%;
    left: 0px;
    width: 1700px !important;
    display: flex;
    align-items: center;
}
.card{
position: relative;
height: 180px !important;
box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

}
.card-img-left{
border: none !important;

}
.card-title{
    position: absolute;
   left: 18%;
}
.card-text{
    position: absolute;
    left: 18%;
    top: 29%;
    color:rgb(165, 28, 48) !important;
    font-size: 40px;
   
}
.btn{
position: absolute;
left: 18%;
bottom: 10%;

}


