.contenedor-icono i{
    font-size: 30px ;
    margin-left: 2600%;
    color: black;
}
.contenedor-icono i:hover{
    color: aliceblue;
}
.navegador{
    background-color: rgb(165, 28, 48);
    box-shadow: 5px 5px 30px;
    border-radius: 2px;
    width: 100% !important;
    color: black !important;
}
.navegador1:hover{
    color: aliceblue !important;

}